.u-section-1 {
  background-image: linear-gradient(#02031d, #f5f7fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 176px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 26px 438px 0 56px;
}

.u-section-1 .u-icon-1 {
  height: 31px;
  width: 31px;
  margin: -33px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  font-family: "Bree Serif";
  text-shadow: -2px 0 8px rgba(128,128,128,1);
  width: 814px;
  margin: 2px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 780px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 885px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 785px;
  margin: 43px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 325px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 205px;
  margin: 0 40px 0 0;
}

.u-section-2 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-4 {
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-label-7 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-5 {
  font-size: 1.125rem;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-6 {
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 108px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 99px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 79px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 51px;
  }
}