.u-section-1 {
  background-image: linear-gradient(#02031d, #f5f7fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 176px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-family: "Bree Serif";
  text-shadow: -2px 0 8px rgba(128,128,128,1);
  width: 780px;
  margin: 65px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -99px 438px 0 56px;
}

.u-section-1 .u-icon-1 {
  height: 31px;
  width: 31px;
  margin: -33px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 294px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 246px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 785px;
  margin: 11px auto 26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 208px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-form-1 {
  height: 152px;
  margin: 0 40px 0 0;
}

.u-section-2 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 200px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 209px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Bree Serif";
  margin: 28px 188px 0 223px;
}

.u-section-3 .u-list-1 {
  width: 1039px;
  min-height: 66px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  height: auto;
  margin: 40px 21px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 31px;
  width: 31px;
  margin: 0 auto 0 5px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: -34px 58px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin: 20px 210px 60px 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}