.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/gdtmin.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-family: "Bree Serif";
  width: 780px;
  margin: 85px auto 0;
}

.u-section-1 .u-line-1 {
  width: 113px;
  height: 7px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 780px;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 327px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-template-rows: auto;
  grid-gap: 30px 30px;
  width: 1020px;
  margin: 37px auto 0;
}

.u-section-1 .u-list-item-1 {
  background-size: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 52px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 17px 1px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 52px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 17px 1px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 52px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 17px 1px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-9 {
  margin: 73px 848px 52px 60px;
}

.u-section-1 .u-icon-4 {
  margin-top: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-list-1 {
    min-height: 270px;
    grid-template-columns: calc(25% - 23px) calc(25% - 23px) calc(25% - 23px) calc(25% - 23px);
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: 780px;
    margin-left: 0;
    margin-right: 708px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    min-height: 620px;
    grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px);
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    width: 720px;
    margin-right: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 255px) calc(((100% - 540px) / 2) + 255px);
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    width: 540px;
    margin-right: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
    margin-right: 108px;
  }
}